@charset "UTF-8";
header{
    background-color: black;
    height: 200px;
    margin: -25px;
}

.titulo1{
    color: white;
    text-align: center;
    padding-top: 35px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    font-size: 1.05em;
}

main{
    margin-top: 50px;
    padding-left: 50px;
    font-size: 1.60em;
    line-height: 55px;
}