@charset "UTF-8";

body{
    background-color: #4EEDB0;
    font-family: Arial, Helvetica, sans-serif;
}
h1#op {
    text-align: center;

}
h1{
    color:  #335749;
}
.basico{
    color: #35A15C

}
.intermediario{
    color: #157B3A
}
.avançado{
    color: #1A4F2E;
}